.side-btn{
  position: fixed !important;
  top: 7%;
  right: 20px;
  z-index: 100 !important;
  color: #83b735;
  

}

.side-btn:hover{
  cursor: pointer;
}
.pos-fixed{
  position: fixed !important;
  right: 0;
  top: 0;
  bottom: 0;
}